[SddmGreeterTheme]
Name=Breeze 5.14 Extended
Description=Breeze 5.14 theme with many configuration options
Author=David Edmundson, Filip Fila
Copyright=(c) 2014, David Edmundson; 2018, Filip Fila
License=CC-BY-SA
Type=sddm-theme
Version=0.2.1
Website=https://github.com/flipwise/sddm-breeze-514
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=breeze-514
Theme-API=2.0
